/* Universal Selector */
* {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    text-align: center;
}

/* Body */
body {
    background-color: lightgray;
}

/* Group Selector */
h1, h2 {
    color: darkblue;
}

/* Class Selector */
.movie-card {
    background-color: white;
    width: 300px;
    height: 140px;
    margin: 20px auto;
    border: 2px solid red;
    border-radius: 10px;
    padding: 15px;
}

.movie-card p {
    margin-top: 10px;
}
