.inline-box{
    display:inline-block;
    width:200px;
    height:100px;
    background-color:skyblue;
    border:2px solid blue;
    text-align:center;
    line-height:100px;
}







body{
    margin:0;
    height:100vh;
    display:flex;
    justify-content:center;
    align-items:center;
    background-color:lightgray;
}

.box{
    width:200px;
    height:200px;
    background-color:royalblue;
    color:white;
    display:flex;
    justify-content:center;
    align-items:center;
    font-size:24px;
}