*{
margin: 0;
padding: 0;
box-sizing: border-box;
}
body{
    background-color: aquamarine;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
html{
    scroll-behavior: smooth;
}
a{
    text-decoration: none
}
.parent{
    
    color: black;
    padding: 20px;
    height: 200px;
    display: flex;
    justify-content: center;
    gap: 40px;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;

}
.child{
    background-color:black ;
    padding: 20px;
    color: white;
    height: 200px;
    display: flex;
    align-items: center;
    
}
