body{
    background-color:lightpink;
    font-family: Arial, Helvetica, sans-serif;
}
.card{
    width:320px;
    height:450px;
    background-color: white;
    padding:20PX;
    margin: 50PX auto;
    border:3PX solid blue ;
    text-align: center;
}
.card img{
    width: 120pox;
    height:120px;
    border: 2px solid black;
}
h2{
    color: darkblue;
}
p{
    font-size: medium;
}