*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}
html{
    scroll-behavior: smooth;
}
a{
    text-decoration: none;
}
h1{
    text-align: center;
    margin-bottom: 20PX;
}
body{
    background-color: aquamarine;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.gallery{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 20px;
    width: 200px;
    height: 200px;
}

